@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');


/* Since we are not defining rules for the "p" tag, it will follow the rules in body.*/
body {
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  background-color: 0;
  color: black;
  padding-top: 5rem;
  float: left
}
#myCanvas canvas {
  display: block;
  margin: auto;
  border-radius: 0%;
  padding: 10px;
  border-style: solid;
  border-width: 25;
  border-color: #e60000;
}
#button2 {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 50;
  margin: auto;
  display: inline-block;
  padding: 10px;
  color: #e60000;
  background-color: 0;
  border-radius: 0%;
  border-style: solid;
  border-color: #e60000;
    border-width: 15;

  outline: none;

}
h1 {
  text-align: center;
  font-size: 100px;
}
p {
  text-align: center;
}
p.fn {
  font-family: sans-serif;
  color: grey;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.nav-p{
  display:inline-block;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  font-size:1.25rem;
  line-height:inherit;
  white-space:nowrap;
  color:black;

}
h1 {
  font-style: italic;
  color: #d4223d;
}
